/*****hasis*****/ 
/* #hasis(e2d79a3ca0c8814a) #css starts  */
.headere2d79a3ca0c8814a .head{ 
    color: #D82A4E
}
.headere2d79a3ca0c8814a .button{
    background-color: #D82A4E;
    color: white
}
/* #hasis(e2d79a3ca0c8814a) #css ends  */
/*****hasis*****/

/*****fansha*****/ 
/* #fansha(formft6hkmrpjx9) #css starts  */
.formft6hkmrpjx9{
    padding: 7.5rem 0
}
.formft6hkmrpjx9 .lead {
    font-size: 20px
}
.formft6hkmrpjx9 .btn-primary {
    background-color: #D82A4E;
    border-color: #D82A4E;
    font-size: 20px
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus,
.btn-primary:hover{
    background-color: #D82A4E;
    border-color: #D82A4E
}
/* #fansha(formft6hkmrpjx9) #css ends  */
/*****fansha*****/

/*****freya*****/
/* #freya(freyategxpfzk1ni) #css starts */
      .freyategxpfzk1ni   .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #D82A4E
     }
/* #freya(freyategxpfzk1ni) #css starts */
/*****freya*****/

/*****patricia*****/
    /* #patricia(pricespr0llwxlfes) #css starts  */
    .pricespr0llwxlfes .btn-outline-primary{
    color: black;
    border-color: #D82A4E;
         }
    .pricespr0llwxlfes .btn-outline-primary:not(:disabled):not(.disabled):active,
    .pricespr0llwxlfes .btn-outline-primary:hover{
        color: #fff;
    background-color: #D82A4E;
    border-color: #D82A4E
    }
    .pricespr0llwxlfes .btn-primary {
    background-color: #D82A4E;
    border-color: #D82A4E
    }
    .pricespr0llwxlfes .btn-primary:not(:disabled):not(.disabled):active,
    .pricespr0llwxlfes .btn-primary:hover,
    .pricespr0llwxlfes .btn-primary:focus{
        background-color: #D82A4E;
        border-color: #D82A4E
    }
    /* #patricia(pricespr0llwxlfes) #css ends  */
/*****patricia*****/

/*****tioni*****/
    /* #tioni(testimonialtmrwms6esfu) #css starts  */
          .testimonialtmrwms6esfu  .fdb-block .fdb-touch {
          border-top: solid 0.3125rem #D82A4E
        }
    /* #tioni(testimonialtmrwms6esfu) #css ends  */
/*****tioni*****/

/*****carthur*****/
    /* #carthur(calltoactionsccah4u1afnyj) #css starts  */
    .calltoactionsccah4u1afnyj .btn-primary {   
        background-color: #D82A4E;
        border-color: #D82A4E
     }
     .btn-primary:not(:disabled):not(.disabled):active,
     .btn-primary:hover,
     .btn-primary:focus{
        background-color: #D82A4E;
        border-color: #D82A4E
    }
    /* #carthur(calltoactionsccah4u1afnyj) #css ends  */
/*****carthur*****/

/*****flight*****/
    /* #flight(flightft09nw97giq) #css starts */
    .flightft09nw97giq .fdb-block {
        padding: 2.5rem 0
      }
      .flightft09nw97giq a {
        color: #D82A4E
      }
      .flightft09nw97giq a:hover {
        color: #D82A4E
      }
    /* #flight(flightft09nw97giq) #css ends */
/*****flight*****/